#main-header{
    height: 100px;
    margin-top: 5px; 

    position: sticky; 
    top: 0; 

    background-color: white;
}

#inner-header{
    width: 1100px; 
    height: 100px; 

    margin: auto; 

    display: flex; 

}

#logo-img{
    cursor: pointer; 
    height: 80px; 

}

#header-left{
    display: flex; 
    align-items: center; 

    margin-left: 0; 
    margin-right: auto; 
}

#header-middle{
    display: flex; 
    align-items: center; 

    margin: auto; 
}

.header-routes{
    cursor: pointer; 

    color: black; 
    text-decoration: none; 
    margin: 20px; 
}

#header-right{
    display: flex; 
    align-items: center; 

    margin-left: auto;
    margin-right: 0;  
}

#login-button{
    background-color: aqua;

    border-radius: 30px;

    cursor: pointer; 

    width: 80px;
    height: 40px; 
}